<div class="w-75 mx-auto py-4">
  <form [formGroup]="resetForm">
    <label for="email">email :</label>
    <input
      formControlName="email"
      type="email"
      class="form-control mb-2"
      id="email"
    />
    <div
      class="alert alert-danger"
      *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched"
    >
      <p class="m-0" *ngIf="resetForm.get('email')?.getError('email')">
        email not valid
      </p>
      <p class="m-0" *ngIf="resetForm.get('email')?.getError('required')">
        email is required
      </p>
    </div>

    <button
      [disabled]="resetForm.invalid"
      type="submit"
      class="btn d-block ms-auto text-light bg-main"
      (click)="sendCode()"
    >
      Send Code
    </button>
  </form>
</div>
