<div class="row gx-0" style="overflow: hidden">
  <div class="col-md-8" style="overflow: hidden">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img
          src="../../assets/slide-1.png"
          alt=""
          style="width: 100%; height: 400px"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          src="../../assets/slide-2.png"
          alt=""
          style="width: 100%; height: 400px"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          src="../../assets/slide-3.png"
          alt=""
          style="width: 100%; height: 400px"
      /></ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-md-4 d-flex flex-column">
    <img src="../../assets/img1.png" alt="" style="height: 200px" />
    <img src="../../assets/img2.png" alt="" style="height: 200px" />
  </div>
</div>
